@CHARSET "ISO-8859-1";

.body{

	font-size: 13px;
	font-family: "Open Sans","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	background-color: #FFF;	
	margin: 0px;
	color: #3a3a3a;
}

.header{
	
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.content{
	
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
}

.footer{
	
	width: 100%;
	padding-top: 5px;
	padding-bottom: 25px;
}


/* Input */
.inputSearch{
	
	height: 35px;
	width: 50%; 
	padding-right: 65px;
	padding-left: 10px;
	font-family: "Open Sans","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

/* Button */
.buttonSearch{
	
	height: 35px;
	margin-left: -61px;
	font-family: "Open Sans","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

/* Form */
.formSearch{
	
	margin-top: 300px;
	font-family: "Open Sans","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

.formMenu{
	
	
}

/* Output */
.outputTextFooter{
	
}

/* Link */
.linkMenu{
	
	text-decoration: none;
	margin-left: 10px;
	margin-right: 10px;
}

/* Panel */
.panelGridMenu{
	
	
}


a:link{
	
	color: #3a3a3a;
}

a:hover{
	
	color: #edebe9;
}

