@CHARSET "ISO-8859-1";

.body{

	font-size: 13px;
	font-family: "Open Sans","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	background-color: #FFF;	
	margin: 0px;
	color: #3a3a3a;
}

.header{
	
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.content{
	
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
}

.footer{
	
	width: 100%;
	padding-top: 100px;
	padding-bottom: 25px;
}


.link{
	color: #3a3a3a;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

.link:hover{
	color: #ff6600;
}


.link-not{
	color: #3a3a3a;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 10px;
}

.link-not:hover{
	color: #ff6600;
	text-decoration: underline;
}


/* Input */
.inputSearch{
	
	height: 44px;
	width: 60%; 
	padding-right: 65px;
	padding-left: 10px;
	border-radius: 3px;
	border: 1px solid #CCC;
	box-shadow: inset -1px 1px 2px rgba(0,0,0,0.1);
	font-family: "Open Sans","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

.inputDefault{
	
	width: 100% !important;
	height: 32px;
	padding-left: 7px;
	padding-right: 7px;
	margin-top: 4px;
	margin-bottom: 7px;
	resize: none;
	border-radius: 3px;
	border: 1px solid #CCC;
	box-shadow: inset -1px 1px 2px rgba(0,0,0,0.1);
	font-family: "Open Sans","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

.subTitle{
	
	font-size: 16px; font-weight: bold; font-style: italic; color: #6E6E6E;
	font-family: "Lato", sans-serif;
	letter-spacing: -1px;
}

.title{
	
	font-family: "Lato", sans-serif;
	font-weight: bold;
	letter-spacing: -1px;
	font-size: 28px;
}



/* Button */
.buttonSearch{
	
	height: 38px;
	margin-left: -104px;
	font-family: "Lato", sans-serif;
	text-shadow: none;
    background-color: #00b771;
    color: white;
    border-radius: 3px;
    border: none;
    width: 100px;
    font-weight: bold;
    font-size: 14px;
    box-shadow: inset 0 -3px 0 rgba(0,0,0,0.3);
}

.buttonSend{
	
	height: 38px;
	font-family: "Lato", sans-serif;
	text-shadow: none;
    background-color: #00b771;
    color: white;
    border-radius: 3px;
    border: none;
    width: 180px;
    font-weight: bold;
    font-size: 16px;
    box-shadow: inset 0 -3px 0 rgba(0,0,0,0.3);
}

.buttonDefault{
	
	cursor: pointer
}

.buttonBuy{
	
	height: 38px;
	font-family: "Lato", sans-serif;
	text-shadow: none;
    background-color: #00b771;
    color: white;
    border-radius: 3px;
    border: none;
    width: 130px;
    font-weight: bold;
    font-size: 14px;
    box-shadow: inset 0 -3px 0 rgba(0,0,0,0.3);
    margin: 5px;
}

.buttonSell{
	
	height: 38px;
	font-family: "Lato", sans-serif;
	text-shadow: none;
    background-color: #fdde4c;
    color: black;
    border-radius: 3px;
    border: none;
    width: 130px;
    font-weight: bold;
    font-size: 14px;
    box-shadow: inset 0 -3px 0 rgba(0,0,0,0.3);
    margin: 5px;
}



/* Form */
.formSearch{
	
	margin-top: 18%;
	font-family: "Open Sans","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

.formOrderInfo{
	
	margin-top: 10%;
	font-family: "Open Sans","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}


.inputTextArea{
	
	width: 100% !important;
	height: 100px;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	margin-top: 4px;
	margin-bottom: 7px;
	resize: none;
	border-radius: 3px;
	border: 1px solid #CCC;
	box-shadow: inset -1px 1px 2px rgba(0,0,0,0.1);
	font-family: "Open Sans","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

.inputTextAreaInput{
	
	width: 100%;
	height: 25px;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 10px;
	padding-bottom: 4px;
	margin-top: 4px;
	margin-bottom: 7px;
	resize: none;
	border-radius: 3px;
	border: 1px solid #CCC;
	box-shadow: inset -1px 1px 2px rgba(0,0,0,0.1);
	font-family: "Open Sans","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

.selectItem{

	width: 101.75%;
	height: 32px;
	padding-left: 7px;
	padding-right: 7px;
	margin-top: 15px;
	resize: none;
	border-radius: 3px;
	border: 1px solid #CCC;
	box-shadow: inset -1px 1px 2px rgba(0,0,0,0.1);
	font-family: "Open Sans","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}


.label-form{
	float: left;
	font-weight: bold;
}


/* Output */
.outputTextFooter{
	
}


.ui-inputfield, .ui-state-focus, .ui-state-hover{
    background: #FFF !important;
    border: 1px solid #CCC;
    color: #FF6600;
    box-shadow: none;
}

.ui-state-default{
	background: none;
	font-weight: normal;	
}


.ui-state-active{
    color: #FF6600;
    font-weight: bold;	
}

.ui-corner-right, .ui-corner-left{

    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
}

.ui-widget{
	font-size: 13px;
	font-family: "Open Sans","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

.ui-button-text{
	
}